table{
    width: 100%;
    border-radius: 15px;
}
tr{
    border: 1px solid black;
    
}
td{
    border: 1px solid black;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
}
th{
    border: 1px solid black;
    padding-left: 25px;
}
#dtable{
    background-color: white;
    padding: 30px;
    border: 1px solid black;
    border-radius: 15px;
}
#addtable{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: white;
    width: 50%;
}
select,input, button{
    float:right;
}
#fdata{
    padding: 35px;
    border: 1px solid black;
    border-radius: 15px;
}
#scroll{
    margin-bottom: 20px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
button{
    background-color: white;
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    margin-top: 10px;
}